<div id="sp-spot-info" class="col overflow-auto mt-2 p-2 bg-white border border-success rounded">
  <h3 class="mb-2"><i id="spot-icon" class="fa-solid fa-location-dot"></i> スポット情報</h3>
    <h4>スポット名：</h4>
    <div class="ml-4 mb-2">
      <p id="sp-spot-name"></p>
    </div>

    <h4>スポット説明：</h4>
    <div class="ml-4 mb-2">
      <p id="sp-spot-introduction"></p>
    </div>

    <h4>ゴミ箱の種類：</h4>
    <div id="sp-spot-kinds" class="text-center mb-2"></div>

    <div id="sp-date" class="mb-2 text-right"></div>

    <div id="sp-favorite_form" class="mb-3 d-flex"></div>

    <div id="sp-edit-button" class="text-center mb-3"></div>

    <p id="sp-font-bold" class="text-center text-success border-top border-success p-2">スポットへのコメント</p>
    <div id="sp-comments-box" class="overflow-auto text-wrap border border-success" ></div>
    <div id="sp-comment-button" class="text-center"></div>
</div>