@use '~bootstrap/scss/bootstrap';

html,body {
  height: 100%;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  background-color: #F5FFFA;
}

header {
  background-color: #66CC99	;
}

.header-content {
  background-color: #F5FFFA	;
}

p {
  margin: 0;
}

h2 {
  padding: 8px;
  color: white;
  background-color: #8FBC8F;
}

#map {
  width: 100%;
  height: 76vh;
}

#comment-map {
  width: 50%;
  height: 40vh;
}

#comment_form_area {
  width: 100%;
  height: 20vh;
}


.error_message, #error_explanation {
  color: red;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
  text-align: center;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}


#spot-info {
  padding: 4px;
  display: none;
  height: 80vh;
  animation: slideIn 0.1s linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#spot-info::-webkit-scrollbar{
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}

//スポット情報内のマーカーアイコン
#spot-info .fa-solid.fa-location-dot {
  color: #E00;
}


.spot-kind {
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  text-align: center;
}

.kind-td {
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  text-align: center;
  width: 100px;
  font-size: 12px;
}

.burnable-garbage {
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  text-align: center;
  background-color: #FF99CC;
  color: #F00;
  border: solid 1px #F00;
}

.plastic {
  background-color: #DCC2FF;
  color: purple;
  border: solid 1px purple;
}

.pet-bottles {
  background-color: #C2EEFF;
  color: #1E90FF;
  border: solid 1px #1E90FF;
}

.can {
  background-color: #FFFFCC;
  color: #FFD700;
  border: solid 1px #FFD700;
}

.bottle {
  background-color: #AEFFBD;
  color: #008000;
  border: solid 1px #008000;
}


.kinds-td {
  word-wrap: break-word;
  max-width: 200px;
}


#favorite_btn_off {
  color: #AAA;
  font-size: 26px;
}

#favorite_btn_on {
  color: #FF0;
  font-size: 26px;
}

#comments-box {
  font-size: 14px;
  padding: 1px;
  margin-bottom: 4px;
  width: 100%;
  max-height: 120px;
}

#comments-box p:nth-child(3n) {
  font-size: 10px;
  width: 100%;
}