<% if spot.errors.any? %>
  <div class="col mb-2">
    <ul class="error_message">
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>